absl-py
aiohttp
electron
aiosignal
altair
antlr4-python3-runtime
argcomplete
arrow
libgl1-mesa-glx
astunparse
async-timeout
attrs
backoff
backports.zoneinfo
blinker
blis
body-measurements
build
CacheControl
cachetools
cap
catalogue
certifi
cffi
chardet
charset-normalizer
cleo
click
colorama
composer
contourpy
coolname
crashtest
cryptography
cvzone
cycler
cymem
distlib
docx2txt
dulwich
einops
en-core-web-sm@ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa

enum34
fastjsonschema
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
ftfy
gast
gitdb
github
GitPython
google-auth
google-auth-oauthlib
google-pasta
gql
graphql-core
grpcio
h5py
huggingface-hub
idna
importlib-metadata
importlib-resources
imutils
installer
itsdangerous
jaraco.classes
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
keyring
kiwisolver
libclang
lightning-utilities
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
mosaicml-cli
mpmath
msgpack
multidict
murmurhash
mypy-extensions
networkx
nicer
nltk
node
npm
numpy
oauthlib
odict
omegaconf
open-clip-torch
opencv-python
opt-einsum
optional-django
packaging
pafy
pandas
pdfminer.six
pdfminer3
pexpect
Pillow
pkginfo
pkgutil_resolve_name
pkt
plac
platformdirs
plotly
plumber
poetry
poetry-core
poetry-plugin-export
preshed
prompt-toolkit
protobuf
psutil
ptyprocess
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydeck
Pygments
PyMySQL
pyparsing
pyproject_hooks
pyre-extensions
pyresparser
pyrsistent
python-dateutil
pytorch-ranger
pytz
pywin32-ctypes
PyYAML
questionary
rapidfuzz
react
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scipy
sentencepiece
shapely
shellingham
six
smmap
sortedcontainers
spacy
srsly
streamlit
streamlit-tags
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
timm
tokenizers
toml
tomli
tomlkit
toolz
torch
torch-optimizer
torchmetrics
torchvision
tornado
tqdm
transformers
trimesh
trove-classifiers
types-python-dateutil
typing
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
wasabi
watchdog
wcwidth
websockets
Werkzeug
wrapt
xformers
yarl
youtube-dl
zipp
zope.component
zope.deferredimport
zope.deprecation
zope.event
zope.hookable
zope.interface
zope.lifecycleevent
zope.proxy
